/* #panorma{
  background-image: url('../../../../assets/f1.png');
} */
#A:hover{
  transform: scale3d(2,2,2);
}
.panorama {
  /* margin: 0 auto; */
  cursor: grab;

  /* width: 90%; */
  /* height: 70%; */


  padding-bottom: 20%;
  background-image: url(../../../../assets/f1.png);
  background-repeat: no-repeat;
  /* background-size: cover;*/
  background-position: 100% 100%;

  transition: background-position 1s linear;
}
.left{
  margin-top: 25%;
}
.right{
  transform: rotate(180deg);
  margin-top: 25%;
  margin-left: 90%;
}
