
body{
  color: #00ecf1 !important;
}
.bg1{

    background-image: url('background_layer2.png'),url('background.svg');
    background-size: 100% 100%;
}
.center{
    text-align: center;
}
.about{
    color: #06b2bd !important;
}
.about strong{
    color: #00ecf1 !important;
}
