.f23{
  font-size: 21px;
}
.count{
  font-size: 40px;
}
body{
  color: #00ecf1 !important;
}
.bg1{
    height: -webkit-fill-available;
    overflow: hidden;
    background-image: url('../../../assets/main_page/banner.png');
    background-size: 100% 100%;
}
.center{
    text-align: center;
}
.about{
    color: #06b2bd !important;
}
.about strong{
    color: #00ecf1 !important;
}
