
  <div id="siteWrapper">
        <aside id="mainNavigation">
            <a class="leftylink">Team page</a>
        </aside>
        <div id="appWrapper">
          <div id="appInnerWrapper">
            <div id="bodyContent">
                    <div id="mfullpage">
                            <div class="section">
                                    <app-panorama></app-panorama>
                            </div>
                             <div class="section">
                                 <div>
                                     <app-main-page></app-main-page>
                                 </div>
                             </div>
                             <div class="section">
                                 <app-cube-page></app-cube-page>
                             </div>
                             <div class="section">
                                 <app-card></app-card>
                             </div>
                               <!-- <div class="section">
                                 <app-panorama></app-panorama>
                               </div> -->
                           </div>
            </div>
            <aside id="bodySidebar">
                    <a class="leftylink1">Contact</a>
            </aside>
          </div>
        </div>
      </div>
