<div class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
      
      <div class="overlay" id="overlay">
        <nav class="overlay-menu">
          <ul>
            <li ><a href="/">Home</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>

<div class="sidenavleft">
      
   <a href="/team-page">Team</a>
</div>

 <div class="main">
     <router-outlet></router-outlet>   
</div>

<div class="sidenavright">
    <a href="/team-page">Contact</a>
</div>