<div class="is-nav-offset"></div>
<div id="post-65" class="post-65 page type-page status-publish hentry">
  <div class="SlidingContent">
    <div class="overlay-diamonds-w"></div>
    <div class="swiper-container is-swiper-sliding-content-image visible-md-block visible-lg-block is-mobile-fullscreen">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="bg-image anim-zoom-slow" data-bg-image="../../../assets/cube_page/images/RW_1.gif"
            data-swiper-parallax="30%"></div>
          <h2 class="swiper-sliding-content-image-title"><span class="anim-fadeup-slow">{{ this.data[0].head }}</span></h2>
        </div><!-- end swiper-slide -->
        <div class="swiper-slide">
          <div class="bg-image anim-zoom-slow" data-bg-image="../../../assets/cube_page/images/H_2.gif"
            data-swiper-parallax="30%"></div>

          <h2 class="swiper-sliding-content-image-title"><span class="anim-fadeup-slow">{{ this.data[1].head }}</span></h2>

        </div><!-- end swiper-slide -->
        <div class="swiper-slide">
          <div class="bg-image anim-zoom-slow" data-bg-image="../../../assets/cube_page/images/M_3.gif"
            data-swiper-parallax="30%"></div>

          <h2 class="swiper-sliding-content-image-title"><span class="anim-fadeup-slow">{{ this.data[2].head }}</span></h2>

        </div><!-- end swiper-slide -->
        <div class="swiper-slide">
            <div class="bg-image anim-zoom-slow" data-bg-image="../../../assets/cube_page/images/As_4.gif"
              data-swiper-parallax="30%"></div>
  
            <h2 class="swiper-sliding-content-image-title"><span class="anim-fadeup-slow">{{ this.data[3].head }}</span></h2>
  
          </div><!-- end swiper-slide -->
      </div><!-- end swiper-wrapper -->

      <div class="swiper-pagination anim-faderight anim-onload"></div>

      <ul class="swiper-content-block-navigation list-unstyled font-heading anim-fadeup anim-onload">
        <li class="swiper-content-prev">
          <!-- <span>&larr;</span> -->
          <span class="arrow-left"></span>
        </li>
        <li class="swiper-content-next">
          <!-- <span>&rarr;</span> -->
          <span class="arrow-right"></span>
        </li>
      </ul> <!-- .swiper-content-block-navigation -->

    </div><!-- end swiper-container -->


    <div class="swiper-container is-swiper-sliding-content-text section-light visible-md-block visible-lg-block"
      data-looped-slides="3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide-content anim-fadeup-slow is-perfect-scrollbar">
            <h2>{{ data[0].head }}</h2>
            <p>{{ data[0].body }}</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-content anim-fadeup-slow is-perfect-scrollbar">
              <h2>{{ data[1].head }}</h2>
              <p>{{ data[1].body }}</p>
          </div><!-- end IconText -->
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-content anim-fadeup-slow is-perfect-scrollbar">
                <h2>{{ data[2].head }}</h2>
                <p>{{ data[2].body }}</p>
            </div><!-- end IconText -->
          </div>
          <div class="swiper-slide">
              <div class="swiper-slide-content anim-fadeup-slow is-perfect-scrollbar">
                  <h2>{{ data[3].head }}</h2>
                  <p>{{ data[3].body }}</p>
              </div><!-- end IconText -->
            </div>

      </div><!-- end swiper-wrapper -->
    </div><!-- end swiper-container -->


  </div><!-- end SlidingContent -->


  <!--
// Mobile Version Blocks
-->

  <div class="SlidingContentMobile section-light visible-xs-block visible-sm-block">

    <div *ngFor="let d of data">
        <div class="sliding-content-mobile-section-image">
            <img width="1000" height="600" src="../../../assets/cube_page/images/{{d.image_name}}"
              class="attachment-vivian_landscape_medium size-vivian_landscape_medium" alt="" />
            <h2 class="sliding-content-mobile-image-title">{{d.head}}</h2>
          </div><!-- end swiper-slide -->
      
          <div class="sliding-content-mobile-section-text">
      
            <h2>{{ d.head }}</h2>
            <p>{{ d.body }}</p>
          </div><!-- end swiper-slide -->      
    </div>
  </div><!-- end SlidingContentMobile -->
</div><!-- end post -->