  <div class="panorama" usemap="#planetmap">
  <a><img class="arrow"src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Double_angle_left_font_awesome.svg/512px-Double_angle_left_font_awesome.svg.png" width="50px;" class="left" alt=""> </a>
  <a><img class="arrow"src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Double_angle_left_font_awesome.svg/512px-Double_angle_left_font_awesome.svg.png" width="50px;" class="right"alt=""> </a>
  </div>
  <map name="planetmap">
    <area shape="rect" coords="0,0,82,126" style=":background:#000;position:absolute;" alt="Sun" href="#A">
    <area shape="circle" coords="90,58,3" alt="Mercury" href="mercur.htm">
    <area shape="circle" coords="124,58,8" alt="Venus" href="venus.htm">
  </map>
