
.panorama {
  margin: 0 auto;
  cursor: grab;

  width: 100%;
  height: 100%;
  padding-bottom: 30%;

  background-image: url(https://flanker.github.io/h5c3/panorama/images/panorama-melbourne-CBD-southbank-yarra-river.jpg);
  background-size: cover;
  background-position: 50% 0;

  transition: background-position 1s linear;
}
