<div class="box">
  <form method="POST" action="https://formspree.io/anooshkotak@gmail.com.com">
    <div class="row input-container">
        <div class="col-xs-12">
          <div class="styled-input wide">
            <input type="text" name="NAME" required />
            <label>Name</label>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="styled-input">
            <input type="text" name="Email"required />
            <label>Email</label>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="styled-input" style="float:right;">
            <input type="text" name="PHONE"required />
            <label>Phone Number</label>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="styled-input wide">
            <textarea required name="Messege"></textarea>
            <label>Message</label>
          </div>
        </div>
        <div class="col-xs-12">
          <div type="submit" class="btn-lrg submit-btn">Send Message</div>
        </div>
    </div>
</form>
  <h4>Contact</h4>

  </div>
  <br>
  <br>
