<div >
<div>
  <img style="position: relative;left: 50%;transform: perspective(1px) translateX(-50%);" src="../../../../assets/Logo.png" width="70px;"alt="">
  <h1 style="color:grey!important;font-size:23px;" class="text-center">OFFERED LEARNING EXPERIENCES</h1>

    <section id="slider">
  <input type="radio" name="slider" id="s1">
  <input type="radio" name="slider" id="s2">
  <input type="radio" name="slider" id="s3" checked>
  <input type="radio" name="slider" id="s4">
  <input type="radio" name="slider" id="s5">
  <div class="text-center"*ngFor="let slide of slides; let i = index"
    [attr.for]="'s'+(i+1)"
    id="slide{{i+1}}"
    (mouseenter)="flip(i)"
    (mouseleave)="unflip(i)"
    >
     <div class="flip" id="slide_flip{{i+1}}">
        <div class="front" style="backface-visibility: hidden;">
            <img src="{{ slide.image_front }}" alt="" />
        </div>
        <div class="back" style="backface-visibility: hidden;">
            <img src="{{ slide.image_back }}" alt="" />
        </div>
     </div>
  </div>

</section><br>
<p class="text-center carnav1"style="color:#fff;font-size:21px;">Interested in what we do? <br /><a href="" style="color:cyan;font-size:23px;">Learn more></a></p>
<div class="cnav">
  <button class="primary carnav" (click)="slide(-1)">Prev</button>&nbsp;&nbsp;
  <button class="primary carnav" (click)="slide(1)">Next</button>
</div>
</div>
</div>
<br>
