<div class="bg1">
  <div class="bg2">
    <div style="position: absolute; text-align: center; top:0;left:0; right:0;" class="about">
      <p class="f231">The current schooling system does not provide a structured methodlogy
        to meet <br> the two basic aspirations of indian parents: <br>
        <strong>Holistic Development</strong> and <strong>Sucessful Career</strong>
        for their child</p>
    </div>
    <div class="bgomg"></div>
    <div style="position: absolute; text-align: center; top:50%;left:0; right:0; transform: translateY(-50%);" class="about">
      <h3 class="mainhead" style="text-align: center;">
        ARE WE <br><br> PREPARING OUR KIDS <br><br> FOR THE REAL WORLD?
      </h3>
    </div>
    <div  class="about">
      <div class="row container">
        <div class="col-sm-4">
          <p class="f23"><span class="count">67%</span><br>of the parents feel that the purpose of education
            should be to impart <br>
            <strong>holistic development.</strong></p>
        </div>

        <div class="col-sm-4">
          <p class="f23"><span class="count">73%</span><br>of the parents feel that school education needs to
            improve <br> on
            <strong>real life learning.</strong></p>
        </div>

        <div class="col-sm-4">
          <p class="f23"><span class="count">98%</span><br>universities feel that school should play a
            greater role in giving <br>
            <strong>exposure to careers.</strong></p>
        </div>
      </div>
    </div>

  </div>
</div>