 <div class="bg1">
      <div class="bg2">
          <div class="container about center">
              <p class="f23">The current schooling system does not provide a structed methodlogy
                  to meet <br> the two basic aspirations of indian parents: <br>
                  <strong>Holistic Development</strong> and <strong>Sucessful Career</strong>
                  for their child</p>
          </div><br><br>
          <div class="container about center">
            <h3 class="mainhead">
              ARE WE <br><br> PREPARING OUR KIDS <br><br> FOR THE REAL WORLD?
            </h3>
          </div><br>
          <div class="container about">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-3 text-center">
                <p class="f23"><span class="count">67%</span><br>of the parents feel that the <br> purpose of education should be to impart <br>
                <strong>holistic development.</strong></p>
              </div>

              <div class="col-sm-3 text-center">
                <p class="f23"><span class="count">73%</span><br> of the parents feel that school <br> education needs to improve <br> on
                  <strong>real life learning.</strong></p>
                </div>

                <div class="col-sm-3 text-center">
                    <p class="f23"><span class="count">98%</span><br>universities feel that <br>school should play a <br> greater role in giving <br>
                    <strong>exposer to careers.</strong></p>
                  </div>
                  <div class="col-sm-2"></div>
            </div>
          </div>
        </div>
  </div>

