* {
      line-height: 25px !important;
  }
.f23{
    font-size: 23px;
    margin-top: 18px;

  }
  .mainhead{
    margin-top: 130px;
    font-size: 42px;
    color: #06b2bd !important;
  }
  .count{
    font-size: 40px;
  }
  
  body{
    background-color:  #212c3e !important;
  }
  .bg1{
    background-image: url('../../../../assets/main_page/background.svg') no-repeat;

  background-color: #212c3e;
background-image: center;
 background-repeat: no-repeat;
 background-size: cover;
    overflow: hidden;

  }
  .bg2{
    background-image: url('../../../../assets/main_page/background_layer2.png');
    background-repeat: no-repeat;
    background-size: cover;
       overflow: hidden;
       height: 100%;
   
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .bg2{
    background-image: url('../../../../assets/main_page/background_layer2.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .center{
      text-align: center;
  }
  .about{
      color: #06b2bd !important;
      margin-left: 80px;
  }
  .about strong{
      color: #00ecf1 !important;
  }
  @media only screen and (min-width: 900px) and (max-width: 1280px) {
    .f23{
      font-size: 17px;
    }
    .mainhead{
      margin-top: 70px;
      font-size: 30px;
    }
    .count{
      font-size: 30px;
    }
  }
  @media only screen and (min-width: 952px) and (max-width: 992px) {
    .f23{
      font-size: 17px;
    }
    .mainhead{
      margin-top: 50px;
      font-size: 30px;
    }
    .count{
      font-size: 25px;
    }
    .about{
        margin-left: 0px;
    }
      *{line-height: 25px !important;}
  }
  @media only screen and (min-width: 700px) and (max-width: 955px) {
    .f23{
      font-size: 15px;
    }
    .mainhead{
      margin-top: 50px;
      font-size: 30px;
    }
    .count{
      font-size: 25px;
    }
    .about{
        margin-left: 0px;
    }
      *{line-height: 15px !important;}
  }

  @media only screen and (min-width: 600px) and (max-width: 699px) {
    .f23{
      font-size: 13px;
    }
    .mainhead{
      margin-top: 50px;
      font-size: 25px;
    }
    .count{
      font-size: 20px;
    }
    .about{
        margin-left: 0px;
    }
  }
  @media only screen and (min-width: 499px) and (max-width: 599px) {
    .f23{
      font-size: 13px;
    }
    .mainhead{
      margin-top: 100px;
      font-size: 20px;
    }
    .count{
      font-size: 15px;
    }
    .about{
        margin-left: 0px;
    }
  }
  @media only screen and (min-width: 299px) and (max-width: 598px) {
    .f23{
      font-size: 12px;
    }
    .mainhead{
      margin-top: 100px;
      font-size: 15px;
    }
    .count{
      font-size: 13px;
    }
    .about{
        margin-left: 0px;
    }
  }
