* {
      line-height: 25px !important;
  }
.f23{
    font-size: 23px;
    margin-top: 18px;

  }
  .f231{
    font-size: 23px;
    margin-top: 18px;

  }
  .mainhead{
    margin-top: 100px;
    font-size: 42px;
    color: #06b2bd !important;
  }
  .count{
    font-size: 40px;
  }
  
  body{
    background-color:  #212c3e !important;
  }
  .bg1{
    background-image: url('../../../../assets/main_page/cliffbg.png');
    background-color: #212c3e;
    background-size: 100% 100%;
    overflow: hidden;
    height: -webkit-fill-available;
  }
  .bg2{
   /* background-image: url('../../../../assets/main_page/background_layer2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;*/
  }
  .center{
      text-align: center;
  }
  .about{
      color: #06b2bd !important;
      /*margin-left: 80px;*/position: absolute; text-align: center; bottom:0;left:10%; right:10%;
  }
  .about strong{
      color: #00ecf1 !important;
  }
  @media only screen and (min-width: 1381px) and (max-width: 1980px) {
    .f23{
      margin-top:-300px;
      margin-left: 100px;
      font-size: 30px;
    }
    .f231{
     margin-top:30px; 
      font-size: 33px;
    }
    .mainhead{
      margin-top: 80px;
      font-size: 40px;
      
    }
    .count{
      font-size: 33px;
    }
    *{line-height: 25px !important;}
  }
  
  @media only screen and (min-width: 900px) and (max-width: 1380px) {
    .f23{
      font-size: 23px;
    }
    .f231{
      top: 5%;
      font-size: 23px;
    }
    .mainhead{
      margin-top: 40px;
      font-size: 30px;
    }
    .count{
      font-size: 30px;
    }
    *{line-height: 25px !important;}
  }

  @media only screen and (min-width: 952px) and (max-width: 992px) {
    .f23{
      font-size: 13px;
    }
    .f231{
      margin-top: 60px;
      font-size: 13px;
    }
    .mainhead{
      margin-top: -20px;
      font-size: 30px;
    }
    .count{
      font-size: 25px;
    }
    .about{
        margin-left: 0px;
    }
      *{line-height: 25px !important;}
  }
  @media only screen and (min-width: 700px) and (max-width: 955px) {
    .f23{
      font-size: 17px;
    }
    .f231{
      font-size: 17px;
    }
    .mainhead{
      margin-top: 120px;
      font-size: 30px;
    }
    .count{
      font-size: 25px;
    }
    .about{
        margin-left: 0px;
    }
      *{line-height: 15px !important;}
  }

  @media only screen and (min-width: 600px) and (max-width: 699px) {
    .f23{
      font-size: 13px;
    }
    .f231{
      font-size: 13px;
    }
    .mainhead{
      margin-top: -50px;
      font-size: 25px;
    }
    .count{
      font-size: 20px;
    }
    .about{
        margin-left: 0px;
    }
  }
  @media only screen and (min-width: 499px) and (max-width: 599px) {
    .f23{
      font-size: 13px;
      margin-top: 200px;
    }
    *{
      line-height: 10px;
    }
    .mainhead{
      margin-top: -30px;
      font-size: 20px;
      line-height: 0% !important;
    }
    .count{
      font-size: 15px;
    }
    .about{
        margin-left: 0px;
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 498px) {
    .bgomg{
     
        background-image: url('../../../../assets/main_page/cliffbg.png');
        background-color: #212c3e;
        background-size: 100% 100%;
        overflow: hidden;
        height: cover;
      
    }
    * {
      line-height: 15px !important;
  }
    .f23{
      font-size: 12px;
      text-align: center;
    }
    .f231{
      font-size: 12px;
    }
    .mainhead{
      margin-top: 50px;
      font-size: 16px;
    }
    .count{
      font-size: 13px;
    }
    .about{
        margin-left: 0px;
        position: none; bottom:0;left:0%; right:0%;
        text-align: center;
        float: center;
    }
  }
