<div style="">
<div style="
">
<br><br>
    <section id="slider">
  <input type="radio" name="slider" id="s1">
  <input type="radio" name="slider" id="s2">
  <input type="radio" name="slider" id="s3" checked>
  <input type="radio" name="slider" id="s4">
  <input type="radio" name="slider" id="s5">
  <label for="s1" id="slide1" style="
    background-image: url('Electricalfront.png');
    background-size: 100% 100%;
    "></label>
  <label for="s2" id="slide2" style="background-image: url('emotionalfront.png');
  background-size: 100% 100%; "></label>
  <label for="s3" id="slide3" style="background-image: url('lawfront.png');
  background-size: 100% 100%; "></label>
  <label for="s4" id="slide4" style="background-image: url('productdesign.png');
  background-size: 100% 100%; "></label>
  <label for="s5" id="slide5" style="background-image: url('socialfront.png');
  background-size: 100% 100%; "></label>
</section>
<div style="float: center;left:50%">
    <button (click)="slide(-1)" style="display: inline-block;"><-</button>
    <button (click)="slide(1)" style="display: inline-block;">-></button>
</div>
</div>
</div>
