<!-- <h1 ><b>owl-carousel</b></h1>
<div >
    <section>
      <div id="latest active" class="owl-carousel owl-theme" >
        <article class="" *ngFor="let slide of slides;"><img src="{{slide.image}}" width="2000px;" height="500px;" alt="">
        </article>
      </div>
    </section>
  </div> -->
  <!-- <div class="owl-carousel owl-theme">
    <div class="item" *ngFor="let slide of slides;">
      <a href="#">
      <img src="{{slide.image}}" alt="" />
      <div class="inner">
        
      </div>
      </a>
  </div>
  </div> -->

  <div class="owl-carousel">
    <div class="item">
      <a href="#">
      <img src="../../../assets/Card_page/Electrical front.png" alt="" />
      </a>
  </div>
      <div class="item black">
      <a href="#">
      <img src="../../../assets/Card_page/emotional front.png" alt="" />
      </a>
  </div>
      <div class="item">
      <a href="#">
      <img src="../../../assets/Card_page/law front.png" alt="" />
      </a>
  </div>
      <div class="item black">
      <a href="#">
      <img src="../../../assets/Card_page/product design.png" alt="" />
      </a>
  </div>
      <div class="item">
      <a href="#">
      <img src="'../../../assets/Card_page/social front.png" alt="" />
      </a>
  </div>
</div>